<!-- aca voy a realizar un CRUD a traves de un formulario sencillo -->
<h1>
    {{heroeActual.id ? 'Editar' : 'Crear'}}
    <small>
        
    </small>
</h1>

<div fxLayout="row"
     fxLayoutGap = "40px">

<div class="container">
        <form fxLayout="column" 
             fxFlex="100"
             [formGroup]="heroesForm"
             (ngSubmit)="onSubmit()"
             >

            <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex="100">
                    <mat-label>
                        Super Heroe
                    </mat-label>
                    <input matInput
                           type="text"
                           required
                           formControlName="superhero"                           
                           >
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <mat-label>
                        Alter Ego
                    </mat-label>
                    <input matInput
                        type="text"
                        required
                        formControlName="alter_ego" >
                </mat-form-field>
            </div>


            <mat-form-field fxFlex="100">
                <mat-label>
                    Primera aparicion
                </mat-label>
                <input matInput
                       type="text"
                       required
                       formControlName="first_appearance" 
                >
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>
                    Personajes
                </mat-label>
                <input matInput
                       type="text"
                       required
                       formControlName="characters"
                >
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>
                    Creador
                </mat-label>
                <!-- para seleccionar opciones -->
               <mat-select
                      formControlName="publisher"
                      required
                      >
                    <mat-option *ngFor="let publisher of publishers"
                                [value]="publisher.id">
                        {{publisher.desc}}
                    </mat-option>
               </mat-select>

            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>
                    Foto url
                </mat-label>
                <input matInput
                       type="text"
                       formControlName="alt_img"
                       required
                >
            </mat-form-field>
            <br>
            
        </form>
        <div class="flex">
            <button 
                *ngIf="heroeActual.id"
                (click) = 'onDelete()'
                mat-flat-button 
                color="warn"
            >
                <mat-icon>delete</mat-icon>
                Borrar
            </button>
           <br>
            <button mat-raised-button color="primary"
            (click)="onSubmit()">
                <mat-icon>edit</mat-icon>
                Guardar
            </button>
        </div>
    </div>
        
     
        
        <div fxFlex="100"
        fxLayout="50%"
        class="img">
            <img [src]="heroeActual | imagen" alt="imagen del heroe">
        </div>
    
    </div>