
.flex{
    display: flex;
    justify-content: space-between;
}

.container{
 
    display: flex;
    flex-direction: column !important;
}

.img{

    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}